.card {
  margin-bottom: 16px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  margin: 8px 0;
  color: rgb(77, 77, 77);
}

.actions {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}
